---
import Layout from '@layouts/Layout.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import Datetime from '@components/Datetime';
import TopButton from '@components/TopButton.astro';

export interface Props {
  title: string;
  slug: string;
  author: string;
  pubDatetime: string;
  modDatetime?: string;
  comment?: boolean;
}

const { title, slug, author, pubDatetime, modDatetime, comment } = Astro.props;
---

<Layout
  title={title}
  author={author}
  pubDatetime={new Date(pubDatetime)}
  modDatetime={modDatetime ? new Date(modDatetime) : undefined}
>
  <Header />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mb-2 mt-8 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>뒤로 가기</span>
    </button>
  </div>
  <main id="main-content">
    <h1 transition:name={slug} class="post-title">
      {author} - {title}
    </h1>
    <Datetime
      pubDatetime={pubDatetime}
      modDatetime={modDatetime}
      size="lg"
      className="my-2"
    />
    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 flex max-w-3xl flex-col items-center text-center"
    >
      <slot />
    </article>
    <div class="flex justify-end">
      <TopButton />
    </div>
    {
      comment && (
        <script
          src="https://giscus.kiwiyou.dev/client.js"
          data-repo="kiwiyou/new-blog"
          data-repo-id="R_kgDOGoQLHw"
          data-category="댓글"
          data-category-id="DIC_kwDOGoQLH84CcGYV"
          data-mapping="og:title"
          data-strict="0"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="bottom"
          data-theme="dark"
          data-lang="ko"
          data-loading="lazy"
          crossorigin="anonymous"
          async
        />
      )
    }
  </main>
  <Footer />
</Layout>

<style>
  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-balance break-keep text-2xl font-semibold text-skin-accent;
  }
</style>
