---
import Layout from '@layouts/Layout.astro'
import Header from '@components/Header.astro'
import Footer from '@components/Footer.astro'
import Tag from '@components/Tag.astro'
import Datetime from '@components/Datetime.astro'
import type { CollectionEntry } from 'astro:content'
import { slugifyStr } from '@utils/slugify'
import Math from '@components/Math.astro'
import TopButton from '@components/TopButton.astro'
import '@styles/posts.css'

export interface Props {
  post: CollectionEntry<'blog'>
}

const { post } = Astro.props

const {
  title,
  author,
  description,
  ogImage,
  canonicalURL,
  pubDatetime,
  modDatetime,
  tags,
  comment,
  math,
} = post.data

const { Content } = await post.render()

const ogImageUrl = typeof ogImage === 'string' ? ogImage : ogImage?.src
const ogUrl = new URL(
  ogImageUrl ?? `/posts/${slugifyStr(title)}.png`,
  Astro.url.origin,
).href

const layoutProps = {
  title,
  author,
  description,
  pubDatetime,
  modDatetime,
  canonicalURL,
  ogImage: ogUrl,
}
---

<Layout {...layoutProps}>
  {math && <Math />}
  <Header activeNav="posts" transition:persist />
  <div class="mx-auto flex w-full max-w-3xl justify-start px-2">
    <button
      class="focus-outline mt-8 mb-2 flex hover:opacity-75"
      onclick="history.back()"
    >
      <svg xmlns="http://www.w3.org/2000/svg"
        ><path
          d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"
        ></path>
      </svg><span>뒤로 가기</span>
    </button>
  </div>
  <main id="main-content">
    <h1 class="post-title">{title}</h1>
    <Datetime
      pubDatetime={pubDatetime}
      modDatetime={modDatetime}
      size="lg"
      className="my-2"
    />
    <article
      id="article"
      role="article"
      class="prose mx-auto mt-8 max-w-3xl text-justify"
    >
      <Content />
    </article>

    <ul class="my-8">
      {tags.map((tag) => <Tag tag={slugifyStr(tag)} />)}
    </ul>
    <div class="flex justify-end">
      <TopButton />
    </div>
    {
      comment && (
        <script
          is:inline
          src="https://giscus.app/client.js"
          data-repo="kiwiyou/new-blog"
          data-repo-id="R_kgDOGoQLHw"
          data-category="댓글"
          data-category-id="DIC_kwDOGoQLH84CcGYV"
          data-mapping="og:title"
          data-strict="1"
          data-reactions-enabled="1"
          data-emit-metadata="0"
          data-input-position="top"
          data-theme="preferred_color_scheme"
          data-lang="ko"
          crossorigin="anonymous"
          async
        />
      )
    }
  </main>
  <Footer />
</Layout>

<style>
  @reference "../styles/base.css";

  main {
    @apply mx-auto w-full max-w-3xl px-4 pb-12;
  }
  .post-title {
    @apply text-2xl font-semibold text-balance break-keep text-[var(--color-accent)];
  }
</style>
